
<h1>{{title}}</h1>

<p>{{description}}</p>

<table>
    {{#each object}}
    <tr>
        <td>{{nm}}</td>
        <td>{{cty}}</td>
        <td>{{hse}}</td>
        <td>{{yrs}}</td>
    </tr>
    {{/each}}
</table>
